html{
	max-width: 425;
	background: white;
	color: black;
    font-family: TT Commons;
    scroll-behavior: smooth;
}
td{
    float: left;
    padding-left: 5px; 
}
.header.change{
    opacity: 0;
    transition-duration: 0.3s;
}
.navi{
    opacity: 0.98;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    height: 50px;
    text-align: center;
    z-index: 1000;
}
.trbut{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2px;
    margin-left: 20px;
    margin-top: 15px;
    float: left;
    opacity: 0;
    transition-duration: 0.3s;
    border-bottom: 2px black solid;
}
.trbut:hover{
    border-bottom: 2px #4780C3 solid;
}
.trbut.block{
    opacity: 0.98;
    transition-duration: 0.3s;
}

body{
    top: 35px;
    position: relative;
}
#page1{
    position: absolute;
    left: 0px;
}