html{
	max-width: 425;
	background: #191919;
	color: white;
	position: absolute;
}
#maindiv{
	background: #434447;
    width: 80%;
    height: 150px;
    position: fixed;
    border-radius: 15px;
    left: 10%;
    top: 60px;
}
.button{
	background: #0087D0;
    width: 38%;
    height: 30px;
    position: fixed;
    border-radius: 10px;
    top: 230px;
}
#b1{
	left: 10%;
}
#b2{
	right: 10%;
}