html{
	max-width: 100%;
	background: white;
	color: black;
    font-family: TT Commons;
    scroll-behavior: smooth;
}
td{
    float: left;
    padding-left: 5px; 
}
.header.change{
    opacity: 0;
    transition-duration: 0.3s;
}
.navi{
    opacity: 0.98;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    height: 50px;
    text-align: center;
    z-index: 1000;
    font-size: 13pt;
}
.trbut{
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 2px;
    margin-left: 20px;
    margin-top: 15px;
    float: left;
}

body{
    top: 35px;
    position: relative;
    overflow-x: hidden;
}
#page1{
    position: absolute;
    left: 0px;
    transition-duration:0.35s;
    width: 100%;
}
#page2{
    width: 100%;
    position: absolute;
    left: 102%;
    transition-duration:0.35s;
    top: 35px;
}
#pagestat{
    position: fixed;
    top: 38px;
    left: 50px;
    width: 150px;
    z-index: 1000;
    border-bottom: 2px solid #4780C3;
    transition-duration: 0.35s;
}